env/
.coverage
htmlcov/
.ropeproject
*.sqlite3
*.db
*.py[cod]
*.swp
*.aux
*.log
*.toc
*.mo
*~
.ropeproject
__pycache__/
_static/
.idea
.secret
.bash_history
atlassian-ide-plugin.xml
pretixeu/
local/
.project
.pydevproject
.DS_Store


